/* In your tailwind.css or a separate CSS file */
.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

/* Button Styles */
.custom-button {
    width: 100%; /* Full width */
    padding: 12px 0; /* Top and bottom padding */
    /* background-color: #108b81;   */
    color: #ffffff; /* White text color */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold font */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Hover Effect */
  .custom-button:hover {
    background-color: #26a5a3; /* Darker green on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  /* Active/Click Effect */
  .custom-button:active {
    background-color: #116865; /* Even darker green */
    transform: translateY(0); /* Return to original position */
  }
  
  /* Focus Outline */
  .custom-button:focus {
    outline: 2px solid #81c784; /* Light green outline for focus */
    outline-offset: 2px;
  }
  

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: block; /* Ensure it behaves as a block-level element */
    margin: 0 auto; /* Center horizontally */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  