@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
  overflow-x: hidden;  
}
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
footer {
  margin-bottom: 0; 
}
 
